<template>
  <div>
    <div id="KwiziqBottomKwiz" class="kwiz_outer_wrapper clear kwizbot-wrapper">
      <QuizQuestion />
    </div>
  </div>
</template>
<script lang="ts">
import { defineComponent } from 'vue';
import QuizQuestion from './components/elements/QuizQuestion';
export default defineComponent({
  name: 'MicroKwiz',
  components: {
    QuizQuestion,
  },
});
</script>

<style>
/* @import 'https://cdnes.kwiziq.com/css/dist/CssLiteSite.848c93ed.css';
@import 'https://cdnes.kwiziq.com/css/dist/CssSite.7791e161.css';
@import './styles/sass/components/microkwiz/microkwiz-storybook.scss'; */
</style>
