<template>
  <div id="KwizHeader"></div>
</template>

<script lang="ts">
import { defineComponent, computed } from 'vue';

export default defineComponent({
  name: 'Workbooks',
  setup() {
    return {};
  },
});
</script>
