<template>
  <div id="KwizHeader">
    {{ computedTitle }}
  </div>
  <div id="KwizQandAWrapper">
    <QuizQuestionItem />
  </div>
</template>

<script lang="ts">
import { defineComponent, computed } from 'vue';
import QuizQuestionItem from './QuizQuestionItem.vue';
import { IConfigData } from '../../../interfaces';
import { useStore } from '../../../stores';

export default defineComponent({
  name: 'QuizQuestion',
  components: {
    QuizQuestionItem,
  },
  setup() {
    const store = useStore();
    const computedTitle = computed(() => {
      return store.kwiz.getTitle;
    });
    const Accordion = {
      count: 0,
      active: null,
    };
    let index: any = null;
    const isPropertySet = (attr: any) => {
      return attr ? attr : '';
    };
    const mountPoint = document.getElementById('kwiz-app');
    const configData: IConfigData = {
      url: isPropertySet(mountPoint?.getAttribute('data-url')),
      returnURL: isPropertySet(mountPoint?.getAttribute('data-return-url')),
      returnTitle: isPropertySet(mountPoint?.getAttribute('data-return-title')),
      title: isPropertySet(mountPoint?.getAttribute('data-title')),
      token: isPropertySet(mountPoint?.getAttribute('data-token')),
      trkCat: isPropertySet(mountPoint?.getAttribute('data-trk-cat')),
      questionsPerComp: isPropertySet(
        mountPoint?.getAttribute('data-questionspercomp')
      ),
      kwiziqContext: isPropertySet(
        mountPoint?.getAttribute('data-kwiziqcontext')
      ),
      kwizKey: isPropertySet(mountPoint?.getAttribute('data-kwizkey')),
      status: isPropertySet(mountPoint?.getAttribute('data-status')),
      iframeResults: false,
    };
    store.kwiz.setupConfig(configData);
    return {
      computedTitle,
      Accordion,
      index,
      mountPoint,
    };
  },
});
</script>
