<template>
  <div v-if="isMessage">
    <div v-html="parsedPromoMessage()"></div>
  </div>
  <div v-else>
    <HelloWorld />
    <form
      method="post"
      id="kwiz-form"
      @submit.prevent="onSubmit()"
      :action="resultUrl"
      class="form-inline"
    >
      <div class="task-counter" id="kwzTaskCounter">
        {{ questionNumber + 1 }} of {{ test.length }}
      </div>
      <div
        v-show="showThisQuestion(index)"
        class="question-wrapper"
        v-for="(singleTestQuestion, index) of test"
        :key="index"
        v-bind:id="'qWrap-' + index"
      >
        <div
          v-if="
            singleTestQuestion.Testquestion.testquestion_type_id === '1' ||
            singleTestQuestion.Testquestion.testquestion_type_id === '3'
          "
        >
          <div
            v-if="
              typeof showQuestion(singleTestQuestion.Testquestion.text) ===
              'string'
            "
          >
            <span
              v-html="showQuestion(singleTestQuestion.Testquestion.text)"
            ></span>
            <select
              :id="`TakesTestanswer${index}Testanswer_id`"
              :name="`data[TakesTestanswer][${singleTestQuestion.Testquestion.id}_${index}][testanswer_id]`"
              class="test__select select-height--md select-answered tab-active"
            >
              <option :value="null">select ...</option>
              <option
                v-for="(testAnswer, index) of singleTestQuestion.Testquestion
                  .Testanswer"
                :key="index"
                :value="testAnswer.id"
              >
                {{ testAnswer.text }}
              </option>
            </select>
          </div>
          <div v-else>
            <span
              v-html="showQuestion(singleTestQuestion.Testquestion.text)[0]"
            ></span>
            <select
              :id="`TakesTestanswer${index}Testanswer_id`"
              :name="`data[TakesTestanswer][${singleTestQuestion.Testquestion.id}_${index}][testanswer_id]`"
              class="test__select select-height--md select-answered tab-active"
            >
              <option :value="null">select ...</option>
              <option
                v-for="(testAnswer, index) of singleTestQuestion.Testquestion
                  .Testanswer"
                :key="index"
                :value="testAnswer.id"
              >
                {{ testAnswer.text }}
              </option>
            </select>
            <span
              v-html="showQuestion(singleTestQuestion.Testquestion.text)[1]"
            ></span>
          </div>
          <span
            class="test-questions__hint"
            v-if="singleTestQuestion.Testquestion.text"
            >{{ singleTestQuestion.Testquestion.hint }}</span
          >
        </div>

        <div
          v-else-if="
            singleTestQuestion.Testquestion.testquestion_type_id === '2'
          "
        >
          <div
            v-if="
              typeof showQuestion(singleTestQuestion.Testquestion.text) ===
              'string'
            "
          >
            <span
              v-html="showQuestion(singleTestQuestion.Testquestion.text)"
            ></span>
            <small><em>[one, some or all may be correct]</em> </small>
            <span
              class="test-questions__hint"
              v-if="singleTestQuestion.Testquestion.text"
              >{{ singleTestQuestion.Testquestion.hint }}</span
            >
            <ul>
              <li
                v-for="(testAnswer, index) of singleTestQuestion.Testquestion
                  .Testanswer"
                :key="index"
              >
                <div class="input checkbox">
                  <input
                    type="hidden"
                    :name="`data[TakesTestanswer][${singleTestQuestion.Testquestion.id}_${index}][testanswer_id]`"
                    :id="`TakesTestanswer${singleTestQuestion.Testquestion.Testanswer[index].id}Testanswer_id_`"
                    value="0"
                  />
                  <input
                    type="checkbox"
                    data-role="checkbox"
                    :name="`data[TakesTestanswer][${singleTestQuestion.Testquestion.id}_${index}][testanswer_id]`"
                    :value="testAnswer.id"
                    :id="`TakesTestanswer${singleTestQuestion.Testquestion.Testanswer[index].id}Testanswer_id`"
                  />
                  <label
                    :for="`TakesTestanswer${singleTestQuestion.Testquestion.Testanswer[index].id}Testanswer_id`"
                    >{{ testAnswer.text }}</label
                  >
                </div>
              </li>
            </ul>
          </div>
          <div v-else>
            <span
              v-html="showQuestion(singleTestQuestion.Testquestion.text)[0]"
            ></span>
            ___
            <span
              ___
              v-html="showQuestion(singleTestQuestion.Testquestion.text)[1]"
            ></span>
            <span
              class="test-questions__hint"
              v-if="singleTestQuestion.Testquestion.text"
              >{{ singleTestQuestion.Testquestion.hint }}</span
            >
            <ul>
              <li
                v-for="(testAnswer, index) of singleTestQuestion.Testquestion
                  .Testanswer"
                :key="index"
              >
                <div class="input checkbox">
                  <input
                    type="hidden"
                    :name="`data[TakesTestanswer][${singleTestQuestion.Testquestion.id}_${index}][testanswer_id]`"
                    :id="`TakesTestanswer${singleTestQuestion.Testquestion.Testanswer[index].id}Testanswer_id_`"
                    value="0"
                  />
                  <input
                    type="checkbox"
                    data-role="checkbox"
                    :name="`data[TakesTestanswer][${singleTestQuestion.Testquestion.id}_${index}][testanswer_id]`"
                    :value="testAnswer.id"
                    :id="`TakesTestanswer${singleTestQuestion.Testquestion.Testanswer[index].id}Testanswer_id`"
                  />
                  <label
                    :for="`TakesTestanswer${singleTestQuestion.Testquestion.Testanswer[index].id}Testanswer_id`"
                    >{{ testAnswer.text }}</label
                  >
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="btn-wrapper">
        <PrimaryButton
          v-if="!isCompleted"
          id="kwzSubmitButton"
          type="button"
          @click="nextQuestion"
        >
          Next
          <span slot="right"> » </span>
        </PrimaryButton>
        <PrimaryButton
          v-else
          id="kwzSubmitButton"
          type="submit"
          @click="onSubmit"
        >
          Continue
          <span slot="right"> » </span>
        </PrimaryButton>
      </div>
      <input
        type="hidden"
        name="data[Test][id]"
        id="TestId"
        :value="+kwizTest.id"
      />
      <input type="hidden" name="return_url" :value="kwizTest.results_url" />
      <input type="hidden" name="return_title" :value="kwizTest.name" />
    </form>
  </div>
</template>
<script lang="ts">
import { defineComponent, computed, onMounted } from 'vue';
import { PrimaryButton } from '@kwiziq/ui';
import { useStore } from '../../../stores/';

export default defineComponent({
  name: 'QuizQuestionItem',
  components: {
    PrimaryButton,
  },
  setup() {
    const store = useStore();

    const Message = computed(() => {
      return store.kwiz.getMessage;
    });

    const isMessage = computed(() => {
      return store.kwiz.getMessage.text;
    });

    const questionNumber = computed(() => {
      return store.kwiz.getQuestionNumber;
    });

    const test = computed(() => {
      return store.kwiz.getTests;
    });

    const kwizTest = computed(() => {
      return store.kwiz.kwizTest;
    });

    const resultUrl = computed(() => {
      return store.kwiz.getResultURL;
    });

    const isCompleted = computed(() => {
      return questionNumber.value === testQuestions.value;
    });

    const testQuestions = computed(() => {
      return test.value.length ? test.value.length - 1 : 0;
    });

    const parsedPromoMessage = () => {
      const promoString = JSON.stringify(Message.value.text, null);
      const parsedString = JSON.parse(promoString);
      return parsedString;
    };

    const getTests = async () => {
      await store.kwiz.fetchQwiz();
    };

    const showQuestion = (question: any) => {
      let finalQuestion;
      if (question.indexOf('___') >= 0) {
        finalQuestion = question.split('___');
      } else {
        finalQuestion = question;
      }
      return finalQuestion;
    };

    const showThisQuestion = (index: number) => {
      return index === questionNumber.value;
    };

    const nextQuestion = () => {
      if (questionNumber.value < testQuestions.value) {
        store.kwiz.increaseQuestionNumber();
      }
    };
    const onSubmit = () => {
      let form = document.getElementById('kwiz-form') as HTMLFormElement;
      form.submit();
    };

    onMounted(async () => {
      getTests();
    });

    return {
      testQuestions,
      nextQuestion,
      showQuestion,
      showThisQuestion,
      parsedPromoMessage,
      questionNumber,
      Message,
      isMessage,
      test,
      kwizTest,
      resultUrl,
      onSubmit,
      isCompleted,
    };
  },
});
</script>
