<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <link rel="icon" href="<%= BASE_URL %>favicon.ico" />
    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>
  <body>
    <noscript>
      <strong
        >We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work
        properly without JavaScript enabled. Please enable it to
        continue.</strong
      >
    </noscript>
    <div id="kwiz-app"
      data-url="https://french.kwiziq.com/api"
      data-return-url="https://french.kwiziq.com/revision/grammar/say-your-name-je-mappelle-tu-tappelles-and-vous-vous-appelez"
      data-return-title="Saying your name with Je m'appelle/Tu t'appelles/Vous vous appelez"
      data-token=""
      data-kwizkey="719"
    ></div>
  </body>
</html>
