<template>
  <button
    :disabled="disabled"
    class="btn"
    :class="`btn--${buttonStyle} btn--${buttonSize}`"
    @click.stop.prevent="handleClick"
  >
    <div
      v-if="!hideIcon"
      :style="{
        height: `${height}px`,
        width: `${height}px`,
      }"
      class="icon-wrapper icon-wrapper__left"
    >
      <slot name="left" />
    </div>
    <div class="padding-content">
      <slot></slot>
    </div>
    <div v-if="!!iconRightExists" class="icon-wrapper icon-wrapper__right">
      <slot name="right" />
    </div>
  </button>
</template>
<script lang="ts">
import { defineComponent, computed } from 'vue';
// import { Primary } from '../../../../../dashboard/src/stories/Button.stories';

export default defineComponent({
  name: 'PrimaryButton',
  props: {
    disabled: {
      type: Boolean,
      default: false,
    },
    buttonStyle: {
      type: String,
      default: 'primary',
    },
    buttonSize: {
      type: String,
      default: 'lg',
    },
    height: {
      type: Number,
      default: 39,
    },
    hideIcon: {
      type: Boolean,
      default: true,
    },
  },
  setup(props, { emit, slots }) {
    const handleClick = () => {
      emit('click');
    };
    const iconLeftExists = computed(() => slots.left);
    const iconRightExists = computed(() => slots.right);
    return {
      iconLeftExists,
      iconRightExists,
      handleClick,
    };
  },
});
</script>
<style lang="scss" scropped>
.button {
  // display: flex;
  &--primary {
    //
  }
  .svg-inline--fa {
    height: 15px;
  }
}
.padding-content {
  padding: 0;
}

.icon-wrapper {
  height: 36px;
  width: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ddd;
  &__left {
    border-radius: 5px 0 0 5px;
  }
  &__right {
    border-radius: 0 5px 5px 0;
  }
}
</style>
