<template>
  <button
    class="checkbox"
    :class="{
      'checkbox--white': white,
      'checkbox--small': small
    }"
    :disabled="disabled"
    @click="handleClick"
  >
    <div class="checkbox__box"
      :class="{
        'checkbox__box--active': currentValue
      }"
    >
    <font-awesome-icon icon="fa-solid fa-check" />
    </div>
    <p class="checkbox__label" :class="{
      'checkbox__label--bold': bold
    }">
      <slot></slot>
    </p>
  </button>
</template>
<script lang="ts">
import { defineComponent, ref } from 'vue';

export default defineComponent({
  name: 'Checkbox',
  props: {
    disabled: {
      type: Boolean,
      default: false,
    },
    white: {
      type: Boolean,
      default: false,
    },
    bold: {
      type: Boolean,
      default: false,
    },
    value: {
      type: Boolean,
    },
    small: {
      type: Boolean,
    },
  },
  setup(props, { emit }) {
    const currentValue = ref(props.value || false);
    const handleClick = () => {
      currentValue.value = !currentValue.value;
      if (props.value) {
        emit('input', false);
      } else {
        emit('input', true);
      }
    };
    return {
      currentValue,
      handleClick,
    };
  },
});
</script>
<style lang="scss" scoped>
.checkbox {
  display: flex;
  flex-direction: row;
  border: none;
  background: transparent;
  &--small {
    .checkbox {
       &__label {
         margin-top: 2px;
        font-size: 12px;
      }
    }
  }
  &--white {
    .checkbox {
      &__label {
        color: #000;
      }
      &__box {
        &--active {
          background: blue;
          border-color: #fff;
          .checkbox__icon {
            color: #fff;
          }
        }
      }
    }
  }
  &:focus {
    outline: none;
  }
  &__label {
    margin: 0 0 0 12px;
    font-size: 16px;
    font-weight: normal;
    &--bold {
      font-weight: bold;
    }
  }
  &__box {
    width: 13px;
    height: 13px;
    border: 1px solid #ddd;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: transparent;
    &--active {
      background: blue;
      border-color: #ddd;
      .fa-check {
        color: #fff;
      }
    }
  }
}
</style>
