<template>
  <button
    class="progress-header-panel progress-header-panel--level-and-confidence"
  >
    <div class="progress-header-panel__section">
      <div class="progress-header-panel__label">Level</div>
      <div class="progress-header-panel__item">
        <div class="progress-header-panel__value">{{ panelLevel }}</div>
      </div>
    </div>
    <div class="progress-header-panel__section">
      <div class="progress-header-panel__label">Confidence</div>
      <div class="progress-header-panel__item progress-header-panel--negative">
        <div class="progress-header-panel__value">{{ panelConfidence }}%</div>
        <!-- {% if include.confidence-change-class ==
			'progress-header-panel--negative' %} -->
        <div
          class="progress-header-panel__details progress-header-panel__details--change progress-header-panel--negative"
        >
          {{ panelDiff }}
        </div>
        <!-- // {% elsif include.confidence-change-class ==
			// 'progress-header-panel--positive' %} -->
        <!-- <div
				class="progress-header-panel__details progress-header-panel__details--change">
				+100
			</div>
			{% endif %} -->
      </div>
    </div>
  </button>
</template>
<script lang="ts">
import { defineComponent, computed } from 'vue';

export default defineComponent({
  name: 'ProgressHeaderButtonDouble',
  props: {
    level: {
      type: String,
      default: 'A1',
    },
    confidence: {
      type: Number,
      default: 0,
    },
    diff: {
      type: Number,
      default: 0,
    },
  },
  setup(props) {
    const panelLevel = computed(() => {
      return props.level;
    });
    const panelConfidence = computed(() => {
      return props.confidence;
    });
    const panelDiff = computed(() => {
      return +props.diff;
    });
    return {
      panelLevel,
      panelConfidence,
      panelDiff,
    };
  },
});
</script>
