<template>
  <button class="progress-header-panel progress-header-panel--taken-today">
    <div class="progress-header-panel__section">
      <div class="progress-header-panel__label">
        Taken
        <span class="u-hidden-xsmall">today</span>
      </div>
      <div class="progress-header-panel__item">
        <div class="progress-header-panel__value">
          {{ buttonProgress }}
        </div>

        <div class="progress-header-panel__details">
          of
          <br />
          100
        </div>
      </div>
    </div>
  </button>
</template>
<script lang="ts">
import { defineComponent, computed } from 'vue';

export default defineComponent({
  name: 'PanelTakenToday',
  props: {
    percentage: {
      type: Number,
      default: 0,
    },
  },
  setup(props) {
    const buttonProgress = computed(() => {
      return +props.percentage;
    });
    return {
      buttonProgress,
    };
  },
});
</script>
