<template>
  <div>
    <div class="kwiz_outer_wrapper clear kwizbot-wrapper">




      <!-- sdas dsad asd sa-->
      <ProgressHeader
        :userLevel="usrLevel"
        :confidence="usrConfidence"
        :todayTaken="usrTodayTaken"
        :todayAwards="usrTodayAwards"
      />
    </div>
  </div>
</template>
<script lang="ts">
import { defineComponent, onMounted, computed } from 'vue';
import { ProgressHeader } from '@kwiziq/components';
import { useStore } from './stores/';

export default defineComponent({
  name: 'Dashboard',
  components: {
    ProgressHeader,
  },
  setup() {
    const store = useStore();

    const getUserLevels = async () => {
      await store.progress.fetchUserLvl();
    };

    const getUserConfidence = async () => {
      await store.progress.fetchUserConfidence();
    };

    const getUserStatistics = async () => {
      await store.progress.fetchUserStatistics();
    };

    const getUserAwards = async () => {
      await store.progress.fetchUserAwards();
    };

    const getUSerProgress = async () => {
      await getUserLevels();
      await getUserConfidence();
      await getUserStatistics();
      await getUserAwards();
    };

    onMounted(async () => {
      getUSerProgress();
    });

    const usrLevel = computed(() => {
      return store.progress.getUserLevel;
    });

    const usrConfidence = computed(() => {
      return store.progress.getConfidence;
    });

    const usrTodayTaken = computed(() => {
      return store.progress.getTodayTaken;
    });

    const usrTodayAwards = computed(() => {
      return store.progress.getTodayAwards;
    });
    return {
      usrLevel,
      usrConfidence,
      usrTodayTaken,
      usrTodayAwards,
    };
  },
});
</script>
