<template>
  <section class="heading">
    <h1 class="banner-heading__heading">You're doing great!</h1>
  </section>
  <section class="section-margin-bottom">
    <div class="fgrid fgrid--row-start">
      <PanelConfidence :level="A2" :confidence="100" :diff="-4" />
      <PanelTakenToday :progressValue="usrTodayTaken" />

      <PanelAwardsToday />
    </div>
  </section>
</template>

<script lang="ts">
import { defineComponent, computed } from 'vue';
import { PanelTakenToday, PanelAwardsToday, PanelConfidence } from '@kwiziq/ui';
export default defineComponent({
  name: 'ProgressHeader',
  components: {
    PanelTakenToday,
    PanelAwardsToday,
    PanelConfidence,
  },
  props: {
    userLevel: {
      default: 0,
    },
    confidence: {
      default: {},
    },
    todayTaken: {
      default: {},
    },
    todayAwards: {
      default: {},
    },
  },
  setup(props) {
    const usrLevel = computed(() => {
      return props.userLevel;
    });
    const usrConfidence = computed(() => {
      return props.confidence;
    });
    const usrTodayTaken = computed(() => {
      return +props.todayTaken;
    });
    const usrTodayAwards = computed(() => {
      return +props.todayAwards;
    });
    return {
      usrLevel,
      usrConfidence,
      usrTodayTaken,
      usrTodayAwards,
    };
  },
});
</script>
