<template>
  <button class="progress-header-panel progress-header-panel--awards-today">
    <div class="progress-header-panel__section">
      <div class="progress-header-panel__label">
        Awards
        <span class="u-hidden-xsmall">today</span>
      </div>
      <div class="progress-header-panel__item">
        <div class="progress-header-panel__value">
          <span
            class="icon icon-star -kwiziq"
            :class="iconType"
            data-tooltip-side="bottom-left"
            data-tooltip-arrow="false"
            data-tooltip-theme="tooltipster-achieve"
            data-tooltip=""
          ></span>
        </div>
        <div class="progress-header-panel__details">
          <a href="#">+ 3 more</a>
        </div>
      </div>
    </div>
  </button>
</template>
<script lang="ts">
import { defineComponent, computed } from 'vue';

export default defineComponent({
  name: 'PanelAwardsToday',
  props: {
    iconStarType: {
      type: String,
      default: 'bronze',
    },
  },
  setup(props) {
    const iconType = computed(() => {
      return props.iconStarType;
    });
    return {
      iconType,
    };
  },
});
</script>
