<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <link rel="icon" href="<%= BASE_URL %>favicon.ico" />
    <title><%= htmlWebpackPlugin.options.title %></title>
    <link rel="preload" type="text/css" href="https://french.kwiziq.vubuntu.spottmedia.co.uk/css/src/CssLiteSite.4018583f.css" as="style">
    <link rel="stylesheet" type="text/css" href="https://french.kwiziq.vubuntu.spottmedia.co.uk/css/src/CssLiteSite.4018583f.css">
    <link rel="preload" type="text/css" href="https://french.kwiziq.vubuntu.spottmedia.co.uk/css/src/CssSite.4a13ac65.css" as="style">
    <link rel="stylesheet" type="text/css" href="https://french.kwiziq.vubuntu.spottmedia.co.uk/css/src/CssSite.4a13ac65.css">  
  </head>
  <body>
    <noscript>
      <strong
        >We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work
        properly without JavaScript enabled. Please enable it to
        continue.</strong
      >
    </noscript>
    <div id="dashboard" class="theme--light"></div>
  </body>
</html>
