<template>
  <div class="home">
    <div class="count">
      {{ count }}
    </div>
    <div class="buttons">
      <button @click="decreaseCount">-</button>
      <button @click="increaseCount">+</button>
    </div>
    <hr />
    <div>
      {{ checkOdd }}
    </div>
    <hr />
    <div>
      <input v-model="store.counter.count" type="number" />
    </div>
  </div>
</template>
<script>
import { computed } from 'vue';
import { useStore } from '../stores';

export default {
  setup() {
    const store = useStore();
    const count = computed(() => {
      return store.counter.count;
    });
    const increaseCount = () => {
      store.counter.increaseCount();
    };
    const decreaseCount = () => {
      store.counter.decreaseCount();
    };
    const checkOdd = computed(() => {
      return count.value % 2 === 0 ? 'even' : 'odd';
    });
    return {
      store,
      count,
      increaseCount,
      decreaseCount,
      checkOdd,
    };
  },
};
</script>

<style></style>
